.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.root .title {
  display: flex;
  align-items: center;
}

.root .title .title_text {
  margin-left: 10px;
}

.root .right_item {
  display: flex;
  align-items: center;
}

.root .right_item .edit_button,
.root .right_item .delete_button {
  border: none;
  border-radius: 5px;
  background-color: #f1f2f7;
  cursor: pointer;
}

.root .right_item .edit_button .icon,
.root .right_item .delete_button .icon {
  width: 20px;
  color: #282828;
}

.root .right_item .edit_button {
  margin-right: 5px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal_content {
  background: #ffffff;
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.modal .modal_content:focus {
  outline: none;
}

.modal .modal_content .modal_title {
  margin-bottom: 20px;
  font-size: 20px;
}
